.card {
    height: 100%;
    background-color: rgb(241, 236, 236);
}
.card-body {
    background-color: rgb(241, 236, 236);
    padding: 10% 5%;
}
.card-text{
    margin-top: 0;
}

.main .imglist .ps-img {
    max-width: 300px;
    width: 100%;
}

.main .imglist .photography-img {
    max-width: 300px;
    width: 100%;
}