.main .imglist .bb-game-img {
    max-width: 300px;
    width: 100%;
    margin-bottom: 5%;
    border: 2px solid black;
}
.main .imglist .bb-game-img:hover {
    border: 2px solid #555;
}
.project-box {
    padding: 3% 0;
    margin: 0 20% 2%;
    box-shadow:         
        0 4px 18px 0 rgba(0,0,0,.12), 
        0 7px 10px -5px rgba(0,0,0,.15);
    border: 2px solid black;
}

.project-title {
    font-size: 1.5em;
}
a.project-title {
    background: transparent url("../img/target_blank.png") center right no-repeat;
    padding-right: 23px;
}
.project-title:hover {
    font-weight:800;
}