@charset "UTF-8";
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
    background-color: #e5e5e5; 
    color: #3c4858;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover {
    font-weight: 700;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
    line-height: 1.15em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: inherit;
    text-shadow: 2px 2px rgb(36, 36, 36);
}
h3 {
    font-weight: 700;
    text-shadow: 0.1em 0.1em rgb(36, 36, 36);
}
img {
    vertical-align: middle;
    border-style: none;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row { 
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    text-align: center;
}

.navbar {
    background-color: #fff;
    padding: .625rem 0;
    margin-bottom: 20px;
    color: #555;
    box-shadow: 
        0 4px 18px 0 rgba(0,0,0,.12), 
        0 7px 10px -5px rgba(0,0,0,.15);
}
.navbar-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-transparent {
    background: linear-gradient(rgba(0, 0, 0, 0.425),rgba(0,0,0,0));
    box-shadow: none;
    color: #fff;
}
.navbar-brand {
    display: inline-block;
    white-space: nowrap;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: .625rem 0;
    margin-right: 1rem;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}
.nav-link {
    display: block;
    position: relative;
    color: inherit;
    padding: .9375rem;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 20px;
}

.footer {
    background-color: #00CDD1;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}
footer img {
    width: 52px;
}
footer a {
    color: white;
}
footer a:hover {
    border-bottom: 2px solid white;
}

.page-header { 
    transform: translateY(0px);
    background-position: 60%;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    height: 60vh;
    overflow: hidden;
    /*update transform: translate3d (y-axis)*/
}
.page-header .container {
    z-index: 2;
    position: relative;
    color: #fff;
}

.brand {
    text-align: center;
}


.main {
    background: #fff;
    position: relative;
    z-index: 3;
}

[class*="main-raised"] {
    margin: -40px 30px 0;
    border-radius: 6px;
    box-shadow: 
        0 16px 24px 2px rgba(0,0,0,.14),
        0 6px 30px 5px rgba(0,0,0,.12), 
        0 8px 10px -5px rgba(0,0,0,.2);
}

/*allows navbar to appear at (0,0,0) of screen without page-header*/
.main-raised-page {
    margin: 0 30px 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.section {
    background-position: 50%;
    background-size: cover;
    padding: 30px 0;
}

.main-description {
    font-size: 1.4em;
    color: #999;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
}

.features {
    text-align: center;
}
.main-info {
    max-width: 360px;
    margin: 0 auto;
    padding: 30px 0;
}
.icon img {
    width: 75px;
}
.icon-title {
    color: #3c4858;
    margin: 1.75rem 0 .875rem;
    margin-top: 30px;
    font-size: 1.125rem;
    line-height: 1.5em;
}

body .main .p-about-me {
    text-align: left;
}

[class*='col-'] {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.navbar-collapse {
    transform: translate3d(0,0,0); 
}

/*testing hamburger function*/
@media (min-width: 576px) {
    .navbar-toggler{
        display:none;
    }
}

@media (max-width: 576px) {
    .nav-hamburger-img {
        height: 35px;
    }
    .navbar-toggler {
        background-color: transparent;
        border-style: none;
    }
    .navbar-collapse {
        position: fixed;
        display: block;
        top: 0;
        height: 100vh;
        width: 230px;
        right: 0;
        margin-right: 0;
        z-index: 1032;
        visibility: visible;
        background-color:  #fdfdfd;
        color: #555;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        padding-right: 0;
        padding-left: 0;
        -webkit-transform: translate3d(230px,0,0);
        transform: translate3d(230px,0,0); /*should change when toggling hamburger button*/
        transition: all .5s cubic-bezier(.685,.0473,.346,1);
    }
    .navbar-translate {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .5s cubic-bezier(.685,.0473,.346,1);
    }
}


