@charset "UTF-8";
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #222; 
	margin: 0px;
	padding: 0px;
}
.wrapper {
    margin: 0 10%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    color: #C80060;
}

.header img {
    width: 100%;
    margin: 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

/*navigation bar css - inherits from .row*/
.navbar {
    margin: 0 0 3px 0;
    padding: 0;
    list-style-type: none;
    background-color: grey; 
    border-bottom: 3px solid turquoise;
}
.navlink {
    text-align: center;
    flex: 0 0 20%;
    padding: 10px 30px;
}
.navlink a {
    text-decoration: none;
    color:black;
}
.navlink:hover {
    background-color: lightblue;
}

/*homepage content - inherits from .row*/
.main-content {
    background-color: #fff6e0;
    align-items: flex-start;
}

[class*='sidebar'] {
    border: 1px solid #00c4c7;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-top: 1em;
}
[class*='sidebar'] h3 {
    margin: 0;
    color: white;
    background-color: #00c4c7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 0.5em;
}
[class*='sidebar'] p {
    padding: 0% 4%;
}
.sidebar-secondary {
    border-color: #c80060;
}
.sidebar-secondary h3 {
    background-color: #c80060;
}

/*footer css - inherits from .row*/
.footer.row {
    background-color: #00CDD1;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-4 {
    margin: 0;
    padding: 10px 0;
    flex: 0 0 92%;
}
footer img {
    width: 52px;
}
footer a {
    color: white;
}
footer a:hover {
    border-bottom: 2px solid white;
}

.col-3,
.col-1 {
    flex: 0 0 92%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) and (max-width: 849px) { 
    [class*='sidebar'] {
        flex: 0 0 46%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) { 
    .col-3 {
        flex: 0 0 69%;
    }
    .col-1 {
        flex: 0 0 23%
    }
}