// per CardButton
.cardButton {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 31%;
  width: 31%;
  justify-content: space-between;
  overflow: hidden;
  margin: 10px 0;

  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  a,
  button {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  @include mq-tablet {
    flex-basis: 98%;
    width: 98%;
  }
}

.cardButton__container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.cardButton__container__img {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
}

.cardButton__container__text {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(50%, rgba(0, 0, 0, 0.75))
  );
  background: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  align-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  padding-left: 10px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &__title {
    flex-basis: 100%;
    width: 100%;
    color: $color-cardButtonTitle;
    font-size: 13px;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    @include font-sanN9;
  }

  &__content {
    flex-basis: 100%;
    width: 100%;
    color: $color-cardButtonContent;
    font-size: 27px;
    line-height: 1.8rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    @include font-sanN6I;
  }
}
