.footer {
    background-color: #00cdd1;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;

    button {
        background: none;
        border: none;
    }

    img {
        width: 52px;
    }

    a {
        color: white;
    }

    a:hover {
        border-bottom: 2px solid white;
    }
}
