$color-pageBackground: #406386;

$color-hamburger: #4b535d;
$color-navBg: #f2f1ed;
$color-navBgMobile: #2f3543;
$color-navHover: #ff9c00;
$color-navText: #4b535d;
$color-navTextMobile: #fff;

$color-footerBg: #f2f1ed;
$color-footerSocialText: #fff;

$color-cardTitle: #019ef9;
$color-cardContent: #fff;
