$color-footerBg: #f2f1ed;
$color-footerSocialText: #fff;
$color-navBg: #f2f1ed;
$color-navBgMobile: #2f3543;
$color-navHover: #ff9c00;
$color-navText: #4b535d;
$color-navTextMobile: #fff;
$color-pageBackground: #30415a;
$color-hamburger: #4b535d;
