$color-pageBackground: #f6f6f6;

$color-hamburger: #4b535d;
$color-navBg: #f2f1ed;
$color-navBgMobile: #2f3543;
$color-navHover: #eb8ab4;
$color-navText: #4b535d;
$color-navTextMobile: #fff;

$color-footerBg: #f2f1ed;
$color-footerSocialText: #fff;

$color-cardTitle: #4b535d;
$color-cardContent: black;

$color-cardButtonTitle: #019ef9;
$color-cardButtonContent: #fff;

$color-homepageHeader: #1d1f20;
$color-homepageNewsTitle: #4b535d;

$color-aboutpageEndorsementBg: #f2f1ed;
$color-aboutpageEndorsementTitle: #4b535d;

$color-project-sectionTitle: #f6f6f6;;