html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-pageBackground;
  text-align: left;
  margin: 0;
}

a,
button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.transition-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

  &:before,
  &:after {
    background-size: cover;
    background: transparent;
    content: "";
    position: fixed;
    opacity: 1;
    z-index: 9999;
    transition: transform 0.5s ease-out;
  }

  &:before {
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  &:after {
    background: palevioletred;
    width: 455px;
    height: 535px;
    bottom: 0;
    right: 0;
    transform: translateX(-100vw);
  }
}

.transition--appear,
.transition--enter,
.transition--exit {
  opacity: 0;
}

.transition--appear-active,
.transition--enter-active,
.transition--exit-active {
  opacity: 1;

  &:before {
    transform: scale(1);
  }

  &:after {
    transform: scale(1);
  }
}

.transition--enter-done {
  opacity: 1;

  &:before,
  &:after {
    transform: translateX(100vw);
  }
}

.transition--exit-done {
  opacity: 1;

  &:before,
  &:after {
    transform: translateX(-100vw);
  }
}
