html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-pageBackground;
  text-align: left;
  margin: 0;
}

a,
button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

@keyframes kiba-transition {
  0% {
    background-position: 0;
  }
  to {
    background-position: -900px; // width of image
  }
}

@keyframes kiba-transition-mobile {
  0% {
    background-position: 0;
  }
  to {
    background-position: -600px; // width of image
  }
}

.transition-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

  &:before,
  &:after {
    background-size: cover;
    background: transparent;
    content: "";
    position: fixed;
    opacity: 1;
    z-index: 9999;
    transition: transform 0.5s ease-out;
  }

  &:before {
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  &:after {
    bottom: calc(50vh - 307.5px); // Center background height
    right: calc(50vw - 150px); // Center background width
    transform: translateX(-100vw);
    background: url(../images/kiba-transition-900.png) 0 0 no-repeat;
    height: 615px;
    width: 300px; // A third of kiba transition
    animation-name: kiba-transition;
    animation-duration: 0.4s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @include mq-tablet {
    &:after {
      bottom: calc(50vh - 205px); // Center background height
      right: calc(50vw - 100px); // Center background width
      transform: translateX(-100vw);
      background: url(../images/kiba-transition-600.png) 0 0 no-repeat;
      height: 410px;
      width: 200px; // A third of kiba transition
      animation-name: kiba-transition-mobile;
    }
  }
}

.transition--appear,
.transition--enter,
.transition--exit {
  opacity: 0;
}

.transition--appear-active,
.transition--enter-active,
.transition--exit-active {
  opacity: 1;

  &:before {
    transform: scale(1);
  }

  &:after {
    transform: scale(1);
  }
}

.transition--enter-done {
  opacity: 1;

  &:before,
  &:after {
    transform: translateX(100vw);
  }
}

.transition--exit-done {
  opacity: 1;

  &:before,
  &:after {
    transform: translateX(-100vw);
  }
}
