html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-footerBg;
  text-align: left;
  margin: 0;
}

a,
button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 2900ms ease-in;
}
