// Global Styles
@import "./colors.scss";
@import "./variables.scss";
@import "./typography.scss";
@import "./global.scss";

// Base Component styles
@import "../components/Card/base.scss";
@import "../components/Footer/base.scss";
@import "../components/Header/base.scss";
@import "../components/MastHead/base.scss";
@import "../components/NumberToText/base.scss";
@import "../components/Phaser/base.scss";

// Container styles
@import "../containers/HomePage/base.scss";
@import "../containers/AboutPage/base.scss";
@import "../containers/ProjectPage/base.scss";

