.projects {
  background-color: $color-homepageHeader;
  padding-top: $navHeight + $navFromTop;
}

.projects__container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 50px;

  &__title {
    color: $color-project-sectionTitle;
    flex-basis: 100%;
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    @include font-sanN6I;
  }

  .cardButton {
    margin: 5px;
    overflow: visible;

    &__container:hover {
      z-index: 30;
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
      transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    }

    &__container {
      &__img {
        border-radius: 4px;
        max-height: 250px;
      }

      &__text {
        -webkit-transition: background 0.2s;
        background-color: rgba(3, 20, 26, 0.75);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        bottom: 0;
        color: #f6f6f6;
        left: 0;
        padding: 10px 15px;
        position: absolute;
        text-align: left;
        top: unset;
        transition: background 0.2s;
        width: 100%;

        &__title {
          color: $color-project-sectionTitle;
          font-size: 20px;
          text-align: center;
          text-transform: uppercase;
          @include font-sanN5Fira;
        }
      }
    }
  }
}

.projects__games,
.projects__photos {
  background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient($color-footerBg 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    $color-footerBg;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

  .projects__container__title {
    color: black;
  }
}

@include mq-tablet {
  .projects__container__title {
    font-size: 50px;
  }
}
