.about {
  .mastHead {
    height: 400px;
    font-size: 40px;
    line-height: 40px;
    color: $color-aboutpageEndorsementTitle;
    &__wrapper {
      padding-top: $navHeight + $navFromTop;
      &__title {
        @include font-sanN6I;
        line-height: 60px;
        text-transform: uppercase;
      }
    }
  }

  &__me {
    background-color: $color-aboutpageEndorsementBg;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    position: relative;
    padding: 100px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -20px;
      width: 30%;
      border-bottom: 20px solid #f2f1ed;
    }

    &::before {
      left: 0;
      border-right: 20px solid transparent;
    }

    &::after {
      right: 0;
      border-left: 20px solid transparent;
    }

    .card {
      width: 100%;
      margin: 0;

      &__container {
        align-items: center;
        justify-items: center;
        display: grid;
        margin: auto;
        max-width: 650px;

        &__title,
        &__content {
          grid-column: 1 / 2;
          text-align: center;
          margin: 0;
        }
        &__img {
          grid-row: 1 / 3;
          grid-column: 2 / 3;
          width: 200px;
        }
      }
    }
  }

  &__cards {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    position: relative;

    &__container {
      background-color: $color-about1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
      width: 100%;
    }

    &__title {
      margin: 0;
      text-align: center;
      font-weight: 400;
      color: #4b535d;
      text-transform: uppercase;
      font-size: 54px;
      line-height: 50px;
      @include font-sanN6I;
    }

    svg {
      width: 250px;
      height: 250px;
    }

    .card {
      width: 100%;
      margin: 0;

      &__container {
        height: 500px;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 50% 50%;
        align-items: center;

        &__svg {
          grid-row: 1 / 3;
          text-align: center;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #f7931e;
            top: 0;
            right: 55%;
            -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
          }
        }

        &__title {
          align-self: flex-end;
        }

        &__content {
          align-self: flex-start;
        }
      }
    }
  }

  &__endorsements {
    background-color: $color-about2;
    position: relative;
    padding: 100px 0;
    max-width: 1440px;
    margin: auto;

    &__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
      border-color: transparent;
      width: 100%;
    }

    .card {
      flex-basis: 30%;
      width: 30%;

      &__container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto 15px 1fr;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto) 1fr;
        grid-template-areas:
          "card-image"
          "card-title"
          "card-subtitle"
          "card-description";
        color: #fff;
        text-align: center;

        &__title,
        &__subtitle,
        &__svg {
          background-color: #c918f4;
          color: #fff;
          margin-bottom: 0;
        }

        &__title,
        &__subtitle {
          @include font-sanN4;
          line-height: 1em;
        }

        &__svg {
          grid-area: card-image;
          align-self: self-start;
          justify-self: self-start;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 100%;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          padding: 30px 0 15px;

          svg {
            width: 90px;
            height: 90px;
          }
        }

        &__title {
          font-size: 24px;
        }

        &__subtitle {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          font-size: 18px;
          line-height: 22px;
          padding: 5px 0 30px;
        }

        &__content {
          margin: 15px;
          text-align: center;
          width: unset;
        }
      }

      &:first-child {
        .card__container__title,
        .card__container__subtitle,
        .card__container__svg {
          background-color: #f19512;
        }
      }

      &:last-child {
        .card__container__title,
        .card__container__subtitle,
        .card__container__svg {
          background-color: #3ece44;
        }
      }
    }
  }

  svg {
    position: relative;
    fill: #fff;
  }
}

@include mq-desktop {
  .about {
    &__me {
      .card {
        &__container {
          height: auto;
          grid-template-rows: auto auto auto;
          grid-template-columns: auto;
          justify-items: center;

          &__title,
          &__content,
          &__img {
            grid-column: 1 / 2;
            text-align: center;
            max-width: 600px;
          }

          &__title {
            margin-top: 40px;
          }

          &__content {
            margin-bottom: 40px;
          }
        }
      }
    }

    &__cards {
      &__title {
        font-size: 40px;
        line-height: 41px;
      }

      .card {
        &__container {
          height: auto;

          &__svg {
            background-color: #f7931e;
            width: 100%;

            &::before {
              content: none;
            }
          }

          &__title,
          &__content {
            text-align: center;
            max-width: 600px;
          }

          &__title {
            margin-top: 40px;
          }

          &__content {
            margin-bottom: 40px;
          }

          grid-template-rows: auto auto auto;
          grid-template-columns: auto;
          justify-items: center;
        }
      }
    }

    &__endorsements {
      padding: 30px 10px;

      .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-basis: 100%;
        flex-direction: column;
        margin: 0 auto;
        max-width: 750px;
        width: 100%;

        &__container {
          grid-column-gap: 15px;
          grid-template-rows: repeat(2, auto) 1fr;
          grid-template-columns: auto 1fr;
          grid-template-areas:
            "card-image card-title"
            "card-image card-subtitle"
            "card-image card-description";
          justify-items: flex-start;

          &__title,
          &__subtitle,
          &__content {
            background-color: transparent;
            color: $color-aboutpageEndorsementTitle;
            text-align: left;
            padding: 0;
            margin: 0;
          }

          &__svg {
            border-radius: 4px;
            padding: 10px;
          }
        }

        &:first-child {
          .card__container__title,
          .card__container__subtitle {
            background-color: transparent;
          }
        }

        &:last-child {
          .card__container__title,
          .card__container__subtitle {
            background-color: transparent;
          }
        }

        &:not(:first-of-type):not(:last-of-type) {
          margin: 30px 0;
        }
      }
    }
  }
}

@include mq-tablet {
  .about {
    &__endorsements {
      .card {
        &__container {
          &__svg {
            svg {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
