.navigation {
  @include font-sanN4;
  color: $color-navText;
  height: 100%;
  padding-top: 70px;

  &.is-docked {
    padding: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1000;
    height: auto;

    .navigation__container {
      margin: 0;
      width: 100%;
    }
  }

  &__container {
    background-color: $color-navBg;
    display: flex;
    height: $navHeight;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
    min-width: 768px;

    &__hamburger--mobile,
    .brand__img--mobile,
    .brand__btn--mobile,
    &__overlay--mobile {
      display: none;
    }

    &__brand .brand__btn,
    &__main .navigation__container__main__btn {
      display: block;
      font-size: 16px;
      height: 100%;
      padding: 1rem;
      position: relative;
      @include font-sanN4;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $color-navHover;
        -webkit-transition: height 0.2s;
        transition: height 0.2s;
      }

      &:hover {
        color: $color-navHover;
        &:after {
          height: 3px;
        }
      }
    }

    &__brand {
      display: flex;
      text-align: center;

      img {
        height: $navHeight;
      }
    }

    &__main {
      align-items: center;
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0;

      a.pdf {
        background: transparent url("../images/pdf.png") center right no-repeat;
        padding-right: 23px;
      }

      &__back--mobile {
        display: none;
      }
    }
  }
}

// Mobile styles (<768px)
.navigation.is-mobile {
  .navigation__container {
    min-width: unset;

    &__hamburger--mobile {
      display: block;

      svg {
        height: 48px;
        fill: $color-hamburger;
      }
    }

    &__main {
      align-items: flex-start;
      background: $color-navBgMobile;
      bottom: 0;
      display: block;
      flex-direction: column;
      height: auto;
      justify-content: flex-start;
      left: 0;
      margin: 0;
      max-width: 360px;
      min-height: 100%;
      opacity: 0;
      overflow-x: hidden;
      overflow-y: auto;
      overflow: hidden;
      padding: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
      transition: max-height 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
      white-space: normal;
      width: 100%;

      // Back or X button
      &__back--mobile {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;

        svg {
          fill: $color-navTextMobile;
          top: 5px;
          right: 5px;
          bottom: 5px;
          left: 5px;
          width: 24px;
          height: 24px;
          margin: 10px;
        }
      }

      // Brand logo
      // .brand__btn--mobile,
      .brand__img--mobile {
        display: block;
        margin: 0 auto 10px;
      }

      // Navigation items
      &__btn {
        color: $color-navTextMobile;
        height: auto;
        width: 100%;
        text-align: left;
        padding-left: 30px;

        &:hover {
          color: $color-navHover;
          &:after {
            height: 0;
          }
        }

        &:before {
          background-color: #e5e3dc;
          content: "";
          height: 1px;
          left: 0;
          opacity: 0.2;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      &.mobile-is-open {
        opacity: 1;
        pointer-events: all;
        width: 100%;
        transition: max-height 0.4s cubic-bezier(0.23, 1, 0.32, 1),
          opacity 0.4s ease-in-out;
        z-index: 1001;

        .navigation__container__main__back--mobile {
          align-items: flex-end;
          display: flex;
          justify-content: flex-start;
          position: relative;
        }

        + .navigation__container__overlay--mobile {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
          display: block;
        }
      }
    }
  }
}
