.navigation {
  background-color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0));
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.12),
    0 7px 10px -5px rgba(0, 0, 0, 0.15);
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: $navHeight;
  margin-bottom: 20px;
  padding: 0.625rem 0;

  &--fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  &__brand {
    display: inline-block;
    font-size: 12px;
    height: 50px;
    line-height: 30px;
    margin-right: 1rem;
    padding: 0.625rem 0;
    text-align: center;
    white-space: nowrap;
  }

  &__main {
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    &__btn {
      display: block;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      padding: 0.9375rem;
      position: relative;
    }

    a.pdf {
      background: transparent url("../images/pdf.png") center right no-repeat;
      padding-right: 23px;
    }
  }
}

.navbar-collapse {
  transform: translate3d(0, 0, 0);
}

/*testing hamburger function*/
@media (min-width: 776px) {
  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 776px) {
  .nav-hamburger-img {
    height: 35px;
  }
  .navbar-toggler {
    background-color: transparent;
    border-style: none;
  }
  .navbar-collapse {
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 230px;
    right: 0;
    margin-right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #fdfdfd;
    color: #555;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    -webkit-transform: translate3d(230px, 0, 0);
    transform: translate3d(
      230px,
      0,
      0
    ); /*should change when toggling hamburger button*/
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .navbar-translate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}
