.footer {
  align-items: center;
  background-color: $color-mainTheme;
  color: white;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;

  button {
    background: none;
    border: none;
  }

  img {
    width: 52px;
  }

  a {
    color: white;
  }

  a:hover {
    border-bottom: 2px solid white;
  }
}
