// .footer {
//   align-items: center;
//   background-color: $color-footerBg;
//   flex-direction: column;
//   justify-content: center;
//   padding: 0 0 50px;
//   text-align: center;

//   &__social {
//     background-color: black;
//     background-image: repeating-linear-gradient(
//       45deg,
//       transparent,
//       transparent 3px,
//       rgba(45, 45, 45, 0.5) 3px,
//       rgba(45, 45, 45, 0.5) 6px
//     );
//     color: $color-footerSocialText;

//     &:before {
//       display: block;
//       content: "";
//       height: 2px;
//       border: 2px solid hsla(0, 0%, 44.7%, 0.7);
//     }

//     &__container {
//       background: black;
//       background: radial-gradient(
//         circle at center,
//         rgba(200, 200, 250, 0.2),
//         rgba(45, 45, 45, 0.5),
//         rgba(45, 45, 45, 0.5)
//       );
//       display: block;
//       margin: auto;
//       padding-bottom: 12px;

//       @include mq-tablet {
//         background: none;
//       }

//       &__title {
//         @include font-sanN9I;
//         font-size: 20px;
//         margin-top: 0;
//         padding-top: 0.67em;
//       }

//       &__btn {
//         background: none;
//         border: none;
//         position: relative;
//         width: 54px;
//         height: 54px;
//         margin: 0 12px;

//         &:not(:first-of-type):before {
//           content: "\2022";
//           position: absolute;
//           top: 50%;
//           left: -13px;
//           -webkit-transform: translateY(-50%);
//           transform: translateY(-50%);
//           opacity: 0.5;
//         }

//         a {
//           &:before {
//             content: "";
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             -webkit-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//             border-style: solid;
//             border-radius: 50%;
//             border-color: hsla(0, 0%, 100%, 0.9);
//             border-width: 2px;
//             width: 75%;
//             height: 75%;
//           }

//           &:after {
//             content: "";
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             -webkit-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//             border-style: solid;
//             border-radius: 50%;
//             border-color: hsla(0, 0%, 100%, 0.8);
//             border-width: 1px;
//             width: 100%;
//             height: 100%;
//           }

//           img,
//           svg {
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             -webkit-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//             width: 60%;
//             height: 60%;
//             fill: hsla(0, 0%, 100%, 0.9);
//           }
//         }

//         &:hover {
//           a {
//             &:before {
//               border-color: darken(hsla(0, 0%, 100%, 0.9), 20%);
//             }

//             &:after {
//               border-color: darken(hsla(0, 0%, 100%, 0.9), 20%);
//             }

//             img,
//             svg {
//               fill: darken(hsla(0, 0%, 100%, 0.9), 20%);
//             }
//           }
//         }
//       }
//     }
//   }

//   &__copyright {
//     @include font-sanN4;
//     color: $color-navText;
//     padding-top: 50px;

//     a {
//       color: $color-navText;

//       &:hover {
//         color: $color-navHover;
//         border-bottom: 2px solid $color-navHover;
//       }
//     }
//   }
// }
