button.button-feature.main-info:hover {
    background-color: #e5e5e5;
}
button.button-feature.main-info {
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}