.home {
  &__description {
    font-size: 20px;
    color: #999;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
  }

  .numberToText__letters {
    padding-top: 100px;
  }

  .cardButton:hover {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);

    .cardButton__container__img {
      transform: scaleX(1.05) scaleY(1.05);
      transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .cardButton__container__text {
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;

      &__title {
        transform: translateY(-10px);
        transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      }

      &__content {
        transform: translateY(-10px);
        transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }

  .cardButton {
    &__container {
      &__img {
        max-height: 250px;
      }
    }
  }
}

.home__cards {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  position: relative;
  padding: 60px 0;

  &__bg {
    bottom: 0;
    left: 0;
    margin-top: -60px;
    margin-bottom: -60px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__container {
    border-width: 2px 0px 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    border-color: transparent;
    max-width: 1200px;
    width: 100%;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: $color-homepageNewsTitle;
    text-transform: uppercase;
    font-size: 54px;
    line-height: 50px;
    @include font-sanN6I;

    @include mq-tablet {
      font-size: 40px;
      line-height: 41px;
    }
  }
}
