.mastHead {
  height: 600px;

  &__wrapper {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
}
